@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*==============================================
=            Section global section            =
==============================================*/
* { box-sizing: border-box; }

body {
  font: normal 400 16px/26px 'Gotham', serif;
  color:#414042;
  background-color: #e7e8e9;
}

ul { list-style:none; }

a,
a:hover { font: normal 500 17px/0 'Gotham', serif; text-decoration: none; }

h1,
.uk-h1 { font: normal 400 45px/40px 'Bebas Neue', serif; color: #f1b700; margin: 0; }

h2,
.uk-h2 { font: normal 500 26px/56px 'Gotham', serif; margin: 0; }

h3,
.uk-h3 { font: normal 500 36.3px/25px 'Gotham', serif; }

h4,
.uk-h4 { font: normal 500 22px/25px 'Gotham', serif; margin: 0; }

h5,
.uk-h5 { font: normal 500 19px/30px 'Gotham', serif; margin: 0;}

h6,
.uk-h6 { font: normal 500 16px/1 'Gotham', serif; margin: 0; }

.tm-background-light {background-color: #fbfbfb;}

.uk-container {
  box-sizing: border-box;
  max-width: 1015px;
  padding: 0 25px;
}

.border {border: 1px solid #4c4b4d;}

/*=====  End of Section global section  ======*/



/*======================================
=            Section header            =
======================================*/
.header_section {padding: 15px 0; border-bottom: 1px solid;}
.stay_in_touch ul li { display: inline-block;}
.notice span { color: #3d648e; display: inline-block; font-size: 13px;}
.stay_in_touch span { display: inline-block;
    font-family: "Gotham";
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
  }
.stay_in_touch ul { margin-top: 10px; }
.tm-menu.uk-navbar, .tm-menu.uk-navbar:hover  { background: none;  color: #444;}
.tm-menu.uk-navbar .uk-navbar-nav li a {
    box-sizing: border-box;
    color: #444;
    font-size: 14px;
    height: 14px;
    line-height: 1;
    padding: 0 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: relative;
    font-family: 'Gotham';
    font-weight: 500;
}

.tm-menu.uk-navbar .uk-navbar-nav li a:after {
  display: block;
  content: "";
}

.tm-menu.uk-navbar .uk-navbar-nav li a:before {
  content: "|";
  display: block;
  left: 0;
  position: absolute;
  top: -2px;
}

.uk-navbar-nav li:first-child a::before {
    content: "";
    display: none !important;
}

.notice h6 {
    font-weight: 400;
}

.tm-menu.uk-navbar .uk-navbar-nav li:last-child a{padding-right: 0;}
/*=====  End of Section header  ======*/

/*=============================================
=            Section slider_banner            =
=============================================*/
.slider_banner ul.uk-dotnav {
    background-color: rgba(255, 255, 255, 0.5);
    height: 61px;
    padding: 9px 0;
    margin: 0;
}

.slider_banner ul.uk-dotnav li a {
    background: rgba(255, 255, 255, 1.0);
    border-radius: 50%;
    box-sizing: content-box;
    display: block;
    height: 9px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 9px;
    border: 1px solid #414042;
}

.slider_banner ul.uk-dotnav li.uk-active a {
    background: #414042;
    border: 1px solid #414042;
}

.slider_banner figcaption.tm-overlay {
    height: 100%;
    max-height: 179px;
    max-width: 381px;
    width: 100%;
}

.uk-overlay-panel.tm-overlay {
    bottom: 0;
    color: #fff;
    left: 12%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 38%;
}

.uk-overlay-background.tm-overlay {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

.tm-overlay h4 {color: #444; font-size: 20px; font-weight: 400;}

.slider_banner figcaption.tm-overlay span {
    background: rgba(65, 64, 66, 0.8) no-repeat;
    bottom: 0;
    display: inline-block;
    height: 63px;
    line-height: 56px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 18px;
}

/*=====  End of Section slider_banner  ======*/

/*=================================================
=            Section portfolio_gallary            =
=================================================*/
.portfolio_gallary {background-color: #414042;}

.block_title {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 301px;
    top: 0;
    width: 100%;
}

.portfolio_gallary .gallery_block h5 {
    background: #fff none repeat scroll 0 0;
    height: 50px;
    margin: 0;
    max-width: 301px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    text-decoration: underline;
}

.uk-button-success{background-color: #f1b700;}

.uk-button-primary {background-color: #d6d6d6; color: #585858 !important;}

.uk-button, .uk-button:hover{	
	color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 43px;
    line-height: 1;
    margin: 0 auto;
    padding: 13px 41px;
}

.uk-button-success:focus, .uk-button-success:hover  {background-color: #f1b700;}
.uk-button-primary:focus, .uk-button-primary:hover {background-color: #d6d6d6; color: #585858 !important;}

/*=====  End of Section portfolio_gallary  ======*/

/*=============================================
=            Section awards            =
=============================================*/
.tm-awards {  padding: 82px 0; border-bottom: 1px solid #dbdcdd;}

/*=====  End of Section awards  ======*/

/*==============================================
=            Section tm-testimonial            =
==============================================*/
.tm-testimonial {  border-bottom: 1px solid #dbdcdd;}
.about-us-block p{margin-bottom: 21px;}
.client_info span { 
	display: inline-block;
    font-family: "Gotham";
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}
.client_info img { margin-bottom: 5px; }
.tm-margin-remove { margin-top: 0 !important;}

/*=====  End of Section tm-testimonial  ======*/

/*======================================
=            Section events            =
======================================*/

.events {border-bottom: 1px solid #dbdcdd;}
 h2.tm-heading { margin: 0; }
 h3.tm-sub-heading { 
	font-size: 20px;
    line-height: 1;
    margin-top: 0; 
}

.event_shots img {
    border: 1px solid;
}

.events_info ul.uk-list {
    list-style: outside none disc;
    padding-left: 17px;
}

.uk-list > li::after, .uk-list > li::before {
    content: "";
    display: none;
}

.model-room img{border: 1px solid #000;}

.address-lane h6 {  display: inline-block; font-size: 14px;}

.address-lane span { 
	display: flex;
    font-size: 13px;
    line-height: 18px;
    padding-left: 21px;
}

.address-lane { padding-left: 56px; }

/*=====  End of Section events  ======*/

/*======================================
=            Section footer            =
======================================*/
.footer-section {background-color: #414042; color: #fff;}
.footer-section h5 {
    color: #f1b700;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 400;
}

.footer-section .menu ul.uk-list {
	color: #fff !important;
    font-size: 15px;
    list-style: outside none disc;
    padding-left: 17px; 
}
.footer-section .menu ul.uk-list li a {color: #fff; font-size: 13px;}
.contact-info {font-size: 13px;}
.social ul li {display: inline-block; padding: 5px 3px;}

.social ul.uk-list {
    width: 208px;
}

.footer-section .tm-copyright span {
    font-size: 11px;
    line-height: 16px;
    color: #ababab;
}


/*=====  End of Section footer  ======*/

/*=======================================
=            Section tm-breadcrumb            =
=======================================*/
.tm-breadcrumb ul.uk-breadcrumb li a{ color: #414042; font-size: 10px; text-decoration: underline;}
.uk-breadcrumb > li:nth-child(n+2)::before {
    content: ">";
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    margin: 0 9px;
    transform: translateY(1px);
}


/*=====  End of Section tm-breadcrumb  ======*/

/*========================================
=            Section services            =
========================================*/
.service-grid {
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 5px -3px;
    padding: 46px 63px !important;
    font-size: 15px;
}

.service-lists ul.uk-list a {
    color: #444;
    font-size: 14px;
    font-weight: 400;
}

.contact-form {padding: 34px 50px;  box-shadow: 0 0 7px 0 #cdcdcd;}

.contact-form a { 
    color: #414042;
    font-size: 27px;
    font-weight: 400;
    line-height: 1; 
}

.contact-form span {
    font-size: 12px;
}

.contact-form h3 {
    font-size: 26px;
    font-weight: 400;
}

.tm-breadcrumb {
    border-bottom: 1px solid #dbdcdd;
}

/*=====  End of Section services  ======*/

/*====================================================
=            Section tm-portfolio-gallery            =
====================================================*/
.tm-portfolio-gallery {
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 5px -3px;
}

/*=====  End of Section tm-portfolio-gallery  ======*/

/*==========================================
=            Section about-blog            =
==========================================*/
.about-blog {
    border-bottom: 1px solid #dbdcdd;
    padding: 46px 0;
}

.link-block h4{text-decoration: underline; font-weight: 300;}

/*=====  End of Section tm-about-blog  ======*/

/*==============================================
=            Section service-single            =
==============================================*/
.single-head {border-bottom: 1px solid #eeeeee;}
.work-showcase .description h6 {
    line-height: 29px;
}

.work-showcase.uk-block {
   border-bottom: 1px solid #eeeeee;
}

.map iframe {
    box-shadow: -1px 1px 3px 1px #ccc;
}


/*=====  End of Section service-single  ======*/

/*====================================
=            Section team            =
====================================*/
.slider .uk-text-left p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.slider .uk-text-left a {
    color: #414042;
    font-size: 12px;
    text-decoration: underline;
}
.team-banner .uk-dotnav > * > * {
    background: rgba(50, 50, 50, 0.8) none repeat scroll 0 0;
    height: 7px;
    width: 7px;
    border-radius: 0;
    display: inline-block;
}

/*=====  End of Section team  ======*/

/*===============================================
=            Section services-single            =
===============================================*/
.single-service .service-description img {
    float: left;
    margin-right: 28px;
}
.sample {
    margin: 15px 0;
    font-size: 14px;
}
/*=====  End of Section services-single  ======*/

/*=======================================
=            Section seminar            =
=======================================*/
.key-points ul.uk-list li { 
    background: rgba(0, 0, 0, 0) url("../images/tick.png") no-repeat scroll left top;
    line-height: 19px;
    margin: 15px 0;
    padding: 0 40px;
    font-size: 17px;
}

.seminar-topic {
    font-size: 20px;
}

.registration .contact-form.reserve span{font-size: 19px;}

.team-visit {background-color: #414042; color: #fff;}

.team-member span {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.venue-time ul li strong {
    display: inline-block;
    max-width: 23%;
    text-align: right;
    width: 100%;
}

.venue-time ul li span {
    display: inline-block;
    padding-left: 29px;
    max-width: 75%;
    width: 100%;
}

.venue-time ul li {
    margin: 15px 0;
}

.venue-time ul li em {
    color: #000000;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-style: normal;
    padding-left: 18px;
    width: 75%;
    margin-bottom: 22px !important;
}

/*=====  End of Section seminar  ======*/

/*====================================
=            Section news            =
====================================*/
.news-content {margin: 37px 0 4px;}
.news-category ul{font-size: 0;}
.news-category ul li { display: inline-block; }
.news-category ul li a{  
    border: 1px solid #cccccc;
    display: inline-block;
    line-height: 1;
    padding: 17px 50px; 
    color: #414042;
    font-weight: 300;
}
.news-category ul li a:hover {background-color: #f1b700; color: #fff; font-weight: 500; border: 1px solid #f1b700;}

.news-content a p{
    color: #414042;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 4px;
    text-decoration: underline;
}

.news-content a span { 
    color: #414042;
    font-weight: 500;
    font-size: 13px;
}
/*=====  End of Section news  ======*/

/*======================================
=            Section awards            =
======================================*/
.awards-category ul {  font-size: 0;}

.awards-category li {  display: inline-block; }

.awards-category ul li a:hover {background-color: #f1b700; color: #fff; font-weight: 500; border: 1px solid #f1b700;}

.awards-category ul li a{  
    border: 1px solid #cccccc;
    display: inline-block;
    line-height: 1;
    padding: 17px 20px; 
    color: #414042;
    font-weight: 300;
}

.awards-list { border: 1px solid #e1e1e1;  padding: 33px 0px; }

.awards-earned {
    margin-left: 34px;
    padding-left: 0;
    background: url('../images/divider.png') no-repeat left center; 
}

.award-logo {
    float: left;
    max-width: 225px;
    width: 100%;
}

.award-description{
    float: left;
    max-width: 490px;
    width: 100%;
}

.awards-earned {
    background: rgba(0, 0, 0, 0) url("../images/divider.png") no-repeat scroll left center;
    margin-left: 34px;
    max-width: 213px;
    padding-left: 0;
    width: 100%;
}

.awards-list {
    box-shadow: 0 4px 5px -3px;
}

.awards-earned span {
    color: #f1b700;
    font-size: 43px;
    font-weight: 500;
}

.awards-earned a {
    color: #555555;
    font-size: 10px;
}

.tm-expand-awards {
    border-top: 1px solid #e1e1e1;
    margin: 30px 0;
    padding-top: 30px;
    padding-left: 0;
}

.tm-click {display: none;}

.tm-expand-awards .uk-list li {
    font-size: 13px;
    font-weight: 500;
}

.tm-expand-awards .uk-list li span {
    color: #f1b700;
}

.click-button {display: none;}


/*=====  End of Section awards  ======*/

/*================================================
=            Section single-portfolio            =
================================================*/
.single-slider .lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
.single-slider .lSSlideOuter.vertical .lSAction > a {
    left: 99%;
    margin-left: -14px;
    margin-top: 0;
}

.single-slider .lSAction > a {
    height: 12px;
    opacity: 1;
    width: 19px;
}

.single-slider .lSPager.lSGallery {
    margin: 27px 16px !important;
}

.single-slider .lSSlideOuter {padding-right: 54px !important;}

.single-slider .lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 38px -19px;
    bottom: 10px;
    top: auto;
}

.single-slider .lSSlideOuter .lSPager.lSGallery li.active a img, .single-slider .lSSlideOuter .lSPager.lSGallery li:hover a img {
    border-radius: 0px !important;
    border: 3px solid red;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0;
}

.single-samples img {
    margin-right: 6px;
}

.single-samples a {
    color: #444;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
}

.blog-section {background-color: #414042; color: #fff;}

/*=====  End of Section single-portfolio  ======*/
